<app-inline-edit
  [item]="list.category"
  (saveEmitter)="save($event, 'categories/')"
  (deleteEmitter)="deleteList($event)">
</app-inline-edit>
<div
  class="task-list-container"
  cdkDropList
  cdkDropListOrientation="vertical"
  id="{{list.category.id}}"
  [cdkDropListData]="list.taskList"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="drop($event)">
    <div class="category" *ngFor="let task of list.taskList" cdkDrag [cdkDragData]="task">
      <app-inline-edit
        [item]="task"
        (saveEmitter)="save($event, 'tasks/')"
        (deleteEmitter)="delete($event)">
      </app-inline-edit>
    </div>

    <button class="add" *ngIf="!addTaskFalg" (click)="addCard()">+ Add a Card</button>
    <app-add-new
      *ngIf="addTaskFalg"
      (saveEmitter)="addTask($event)">
    </app-add-new>
</div>

